
	<title>Dispatcher Homepage</title>
	<style>
		table{
			display: table;
			border-collapse: separate;
			border-spacing: 2px;
			border-color: black;
			align-self: center;
			align-content: center;

		}
	</style>

	<h1>
		ORDER LIST
	</h1>
	<br>
	<table align="center" border="1"  cellpadding="50" cellspacing="50" frame="box">
		<tr>
		<th>ORDER ID</th>
		<th>ITEMS</th>
		<th>WEIGHT</th>
		<th>UPDATE STATUS</th>
		</tr>

		<tr>
			<td>xf1m6</td>
			<td>IV 1 (40 ml) <br> IV2 (100 ml)</td>
			<td>5.0 kg</td>
			<td>
 			<form>
 			<input type="submit" name="change status" value="Change status to Dispatched">
 			</form>	
			</td>
		</tr>
		<tr>
			<td>xf1m6</td>
			<td>IV 1 (40 ml) <br> IV3 (100 ml)</td>
			<td>5.0 kg</td>
			<td>
 			<form>
 			<input type="submit" name="change status" value="Change status to Dispatched">
 			</form>	
			</td>
		</tr>
		<tr>
			<td>xf1m6</td>
			<td>IV 1 (40 ml) <br> IV2 (20 ml) <br> IV 4 (60 ml) </td>
			<td>7.0 kg</td>
			<td>
 			<form>
 			<input type="submit" name="change status" value="Change status to Dispatched">
 			</form>	
			</td>
		</tr>
	</table>
	<form>
		<input type="submit" name="download csv" value="download csv file">
	</form>
