{%extends 'base.html'%}
{%block content%}
	<title>Dispatcher Homepage</title>
	<style>
		table{
			display: table;
			border-collapse: separate;
			border-spacing: 2px;
			border-color: black;
			align-self: center;
			align-content: center;

		}
	</style>

	<h1>
		ORDER LIST
	</h1>
	<br>
	<table align="center" border="1"  cellpadding="50" cellspacing="50" frame="box">
		<tr>
		<th>ORDER ID</th>
		<th>ITEMS</th>
		<th>WEIGHT</th>
		<th>UPDATE STATUS</th>
		</tr>
		{% for order in object %}
		<tr>
			<td>{{ order.order_id }}</td>
			<td>{{ order.status }} </td>
			<td>{{ order.priority }}</td>
			<td>
 			<form>
 			<input type="submit" name="change status" value="Change status to Dispatched">
 			</form>	
			</td>
		</tr>
		{% endfor %}
	</table>
	<form>
		<input type="submit" name="download csv" value="download csv file">
	</form>

{% endblock %}